<div class="bloc figure">
                           <div class="onglets-clear"></div><span class="ancre sans-onglet" id="figure4"></span><figure id="tableau-figure4" tabindex="0" class="panneau courant">
                              <h3 class="titre-figure"><span class="hidden">tableau </span>Figure 4 – Principaux secteurs d'activités au 31 décembre 2013
                              </h3>
                              <div class="unite"></div>
                              <div class="tableau">
                                 <table id="produit-tableau-figure4" class="tableau-produit">
                                    <caption>Principaux secteurs d'activités au 31 décembre 2013</caption>
                                    <thead>
                                       <tr>
                                          <th rowspan="2" scope="col">Secteurs d'activité<sup>1</sup>

                                          </th>
                                          <th colspan="2" scope="col">Part du secteur dans l'emploi salarié (%)</th>
                                          <th colspan="2" scope="col">Variation annuelle moyenne (fin 2008 à fin 2013, %)</th>
                                       </tr>
                                       <tr>
                                          <th scope="col">Région</th>
                                          <th scope="col">France</th>
                                          <th scope="col">Région</th>
                                          <th scope="col">France</th>
                                       </tr>
                                    </thead>
                                    <tbody>
                                       <tr>
                                          <th class="ligne " scope="row">Commerce ; réparation d'automobiles et de motocycles</th>
                                          <td class="nombre ">12,9</td>
                                          <td class="nombre ">12,7</td>
                                          <td class="nombre ">-0,8</td>
                                          <td class="nombre ">-0,2</td>
                                       </tr>
                                       <tr>
                                          <th class="ligne " scope="row">Activités scientifiques et techniques ; services administratifs et de soutien</th>
                                          <td class="nombre ">10,0</td>
                                          <td class="nombre ">12,2</td>
                                          <td class="nombre ">1,1</td>
                                          <td class="nombre ">1,0</td>
                                       </tr>
                                       <tr>
                                          <th class="ligne " scope="row">Fabrication d'autres produits industriels</th>
                                          <td class="nombre ">8,4</td>
                                          <td class="nombre ">6,0</td>
                                          <td class="nombre ">-3,9</td>
                                          <td class="nombre ">-3,0</td>
                                       </tr>
                                       <tr>
                                          <th class="ligne " scope="row">Construction</th>
                                          <td class="nombre ">5,9</td>
                                          <td class="nombre ">5,8</td>
                                          <td class="nombre ">-2,3</td>
                                          <td class="nombre ">-1,6</td>
                                       </tr>
                                       <tr>
                                          <th class="ligne " scope="row">Transports et entreposage</th>
                                          <td class="nombre ">5,4</td>
                                          <td class="nombre ">5,6</td>
                                          <td class="nombre ">-0,9</td>
                                          <td class="nombre ">-0,3</td>
                                       </tr>
                                    </tbody>
                                 </table>
                              </div>
                              <figcaption>
                                 <ul class="notes">
                                    <li>1. Hors secteurs principalement non marchands.</li>
                                    <li>Source : Insee, estimations d'emploi.</li>
                                 </ul>
                              </figcaption>
                           </figure>
                        </div>
