<table id="produit-tableau-figure3" class="tableau-produit" style="display: table;">
                           <caption>Figure 3 - Montant moyen des primes par secteur d'activité (en euros)</caption>
                           <tbody>
                              <tr>
                                 <th scope="col">Secteur d'activité</th>
                                 <th scope="col">Ancienneté</th>
                                 <th scope="col">Contraintes</th>
                                 <th scope="col">Performance individuelle</th>
                                 <th scope="col">Performance collective</th>
                              </tr>
                           </tbody>
                           <tbody>
                              <tr>
                                 <td>Industrie manufacturière</td>
                                 <td class="nombre ">1 899</td>
                                 <td class="nombre ">1 957</td>
                                 <td class="nombre ">3 037</td>
                                 <td class="nombre ">1 288</td>
                              </tr>
                           </tbody>
                           <tbody>
                              <tr>
                                 <td>Energies, extraction, eau, déchets</td>
                                 <td class="nombre ">1 775</td>
                                 <td class="nombre ">2 239</td>
                                 <td class="nombre ">3 486</td>
                                 <td class="nombre ">976</td>
                              </tr>
                           </tbody>
                           <tbody>
                              <tr>
                                 <td>Construction</td>
                                 <td class="nombre ">1 338</td>
                                 <td class="nombre ">1 645</td>
                                 <td class="nombre ">2 566</td>
                                 <td class="nombre ">1 277</td>
                              </tr>
                           </tbody>
                           <tbody>
                              <tr>
                                 <td>Commerce</td>
                                 <td class="nombre ">1 532</td>
                                 <td class="nombre ">858</td>
                                 <td class="nombre ">3 823</td>
                                 <td class="nombre ">1 356</td>
                              </tr>
                           </tbody>
                           <tbody>
                              <tr>
                                 <td>Transport et entreposage</td>
                                 <td class="nombre ">1 656</td>
                                 <td class="nombre ">3 670</td>
                                 <td class="nombre ">1 459</td>
                                 <td class="nombre ">674</td>
                              </tr>
                           </tbody>
                           <tbody>
                              <tr>
                                 <td>Hébergement/restauration</td>
                                 <td class="nombre ">739</td>
                                 <td class="nombre ">785</td>
                                 <td class="nombre ">1 458</td>
                                 <td class="nombre ">618</td>
                              </tr>
                           </tbody>
                           <tbody>
                              <tr>
                                 <td>Information et communication</td>
                                 <td class="nombre ">2 661</td>
                                 <td class="nombre ">2 772</td>
                                 <td class="nombre ">5 334</td>
                                 <td class="nombre ">1 998</td>
                              </tr>
                           </tbody>
                           <tbody>
                              <tr>
                                 <td>Finance, assurance</td>
                                 <td class="nombre ">2 153</td>
                                 <td class="nombre ">2 104</td>
                                 <td class="nombre ">6 703</td>
                                 <td class="nombre ">1 970</td>
                              </tr>
                           </tbody>
                           <tbody>
                              <tr>
                                 <td>Immobilier</td>
                                 <td class="nombre ">1 128</td>
                                 <td class="nombre ">1 430</td>
                                 <td class="nombre ">5 052</td>
                                 <td class="nombre ">1 790</td>
                              </tr>
                           </tbody>
                           <tbody>
                              <tr>
                                 <td>Activités scientifiques/techniques</td>
                                 <td class="nombre ">2 534</td>
                                 <td class="nombre ">2 672</td>
                                 <td class="nombre ">5 816</td>
                                 <td class="nombre ">3 019</td>
                              </tr>
                           </tbody>
                           <tbody>
                              <tr>
                                 <td>Services admin. et de soutien</td>
                                 <td class="nombre ">1 212</td>
                                 <td class="nombre ">1 347</td>
                                 <td class="nombre ">1 908</td>
                                 <td class="nombre ">1 411</td>
                              </tr>
                           </tbody>
                           <tbody>
                              <tr>
                                 <td>Administration publique</td>
                                 <td class="nombre ">2 140</td>
                                 <td class="nombre ">1 752</td>
                                 <td class="nombre ">2 628</td>
                                 <td class="nombre ">2 406</td>
                              </tr>
                           </tbody>
                           <tbody>
                              <tr>
                                 <td>Santé et action sociale</td>
                                 <td class="nombre ">2 632</td>
                                 <td class="nombre ">3 122</td>
                                 <td class="nombre ">1 706</td>
                                 <td class="nombre ">1 388</td>
                              </tr>
                           </tbody>
                           <tbody>
                              <tr>
                                 <td>Art et spectacles</td>
                                 <td class="nombre ">1 759</td>
                                 <td class="nombre ">1 192</td>
                                 <td class="nombre ">3 780</td>
                                 <td class="nombre ">2 266</td>
                              </tr>
                           </tbody>
                           <tbody>
                              <tr>
                                 <td>Autres services</td>
                                 <td class="nombre ">1 805</td>
                                 <td class="nombre ">1 322</td>
                                 <td class="nombre ">2 665</td>
                                 <td class="nombre ">1 244</td>
                              </tr>
                           </tbody>
                           <tbody>
                              <tr>
                                 <td class="total ">Ensemble</td>
                                 <td class="nombre total ">1 858</td>
                                 <td class="nombre total ">2 432</td>
                                 <td class="nombre total ">3 342</td>
                                 <td class="nombre total ">1 444</td>
                              </tr>
                           </tbody>
                        </table>
