<table id="produit-tableau-Figure1" class="tableau-produit" style="display: table;">
                           <caption>6 % de pauvres parmi les travailleurs lorrains</caption>
                           <tbody>
                              <tr>
                                 <th class="ligne " scope="row"></th>
                                 <th scope="col">Part de travailleurs pauvres (%)</th>
                              </tr>
                              <tr>
                                 <th class="ligne " scope="row">Salariés à temps complet</th>
                                 <td class="nombre ">4</td>
                              </tr>
                              <tr>
                                 <th class="ligne " scope="row">Salariés à temps partiel</th>
                                 <td class="nombre ">12</td>
                              </tr>
                              <tr>
                                 <th class="ligne " scope="row">Indépendants</th>
                                 <td class="nombre ">17</td>
                              </tr>
                              <tr>
                                 <th class="ligne " scope="row">Autres cas (aides familiaux, chômeurs, inactifs…)</th>
                                 <td class="nombre ">19</td>
                              </tr>
                              <tr>
                                 <th class="ligne " scope="row">Personnes seules</th>
                                 <td class="nombre ">8</td>
                              </tr>
                              <tr>
                                 <th class="ligne " scope="row">Familles monoparentales</th>
                                 <td class="nombre ">15</td>
                              </tr>
                              <tr>
                                 <th class="ligne " scope="row">Couples sans enfant</th>
                                 <td class="nombre ">4</td>
                              </tr>
                              <tr>
                                 <th class="ligne " scope="row">Couples avec enfants</th>
                                 <td class="nombre ">6</td>
                              </tr>
                              <tr>
                                 <th class="ligne " scope="row">Ménages complexes</th>
                                 <td class="nombre ">18</td>
                              </tr>
                              <tr>
                                 <th class="ligne total " scope="row">Ensemble</th>
                                 <td class="nombre total ">6</td>
                              </tr>
                           </tbody>
                        </table>
