<table id="produit-tableau-Figure_2" class="tableau-produit" style="display: table;">
                           <caption>Évolution prévue 2016/2015 dans le BTP</caption>
                           <tbody>
                              <tr>
                                 <th class="ligne " scope="row"></th>
                                 <th scope="col">ACAL</th>
                                 <th scope="col">Alsace</th>
                                 <th scope="col">Champagne-Ardenne</th>
                                 <th scope="col">Lorraine</th>
                              </tr>
                              <tr>
                                 <th class="ligne " scope="row">Production</th>
                                 <td class="nombre ">0,4</td>
                                 <td class="nombre ">1,0</td>
                                 <td class="nombre ">1,5</td>
                                 <td class="nombre ">0,2</td>
                              </tr>
                              <tr>
                                 <th class="ligne " scope="row">Effectifs</th>
                                 <td class="nombre ">-1,3</td>
                                 <td class="nombre ">-1,0</td>
                                 <td class="nombre ">-2,2</td>
                                 <td class="nombre ">-1,2</td>
                              </tr>
                              <tr>
                                 <th class="ligne " scope="row">Investissements</th>
                                 <td class="nombre ">-8,4</td>
                                 <td class="nombre ">-1,7</td>
                                 <td class="nombre ">-10,1</td>
                                 <td class="nombre ">-13,1</td>
                              </tr>
                           </tbody>
                        </table>
