<table id="produit-tableau-Figure4" class="tableau-produit">
                           <caption>Des non-salariés agricoles très représentés dans les communes peu ou très denses</caption>
                           <thead>
                              <tr>
                                 <th colspan="6" scope="col">Poids de l'agriculture dans l'ensemble des activités pour les emplois salariés et
                                    non-salariés
                                 </th>
                              </tr>
                              <tr>
                                 <th scope="col"></th>
                                 <th colspan="4" scope="col">Communes</th>
                                 <th rowspan="2" scope="col">Ensemble</th>
                              </tr>
                              <tr>
                                 <th scope="col"></th>
                                 <th scope="col">densément peuplées</th>
                                 <th scope="col">densité intermédiaire</th>
                                 <th scope="col">peu denses</th>
                                 <th scope="col">Communes très peu denses</th>
                              </tr>
                           </thead>
                           <tbody>
                              <tr>
                                 <th class="ligne " scope="row">Picardie</th>
                                 <td class="nombre "></td>
                                 <td class="nombre "></td>
                                 <td class="nombre "></td>
                                 <td class="nombre "></td>
                                 <td class="nombre "></td>
                              </tr>
                              <tr>
                                 <th class="ligne " scope="row">salariés</th>
                                 <td class="nombre ">0,1</td>
                                 <td class="nombre ">0,4</td>
                                 <td class="nombre ">3,4</td>
                                 <td class="nombre ">16,9</td>
                                 <td class="nombre ">1,7</td>
                              </tr>
                              <tr>
                                 <th class="ligne " scope="row">non salariés</th>
                                 <td class="nombre ">1,6</td>
                                 <td class="nombre ">3,4</td>
                                 <td class="nombre ">25,2</td>
                                 <td class="nombre ">59,3</td>
                                 <td class="nombre ">18,8</td>
                              </tr>
                              <tr>
                                 <th class="ligne " scope="row">France métropolitaine</th>
                                 <td class="nombre "></td>
                                 <td class="nombre "></td>
                                 <td class="nombre "></td>
                                 <td class="nombre "></td>
                                 <td class="nombre "></td>
                              </tr>
                              <tr>
                                 <th class="ligne " scope="row">salariés</th>
                                 <td class="nombre ">0,1</td>
                                 <td class="nombre ">0,6</td>
                                 <td class="nombre ">3,5</td>
                                 <td class="nombre ">12,3</td>
                                 <td class="nombre ">1,1</td>
                              </tr>
                              <tr>
                                 <th class="ligne " scope="row">non salariés</th>
                                 <td class="nombre ">0,7</td>
                                 <td class="nombre ">4,7</td>
                                 <td class="nombre ">26,0</td>
                                 <td class="nombre ">59,4</td>
                                 <td class="nombre ">14,2</td>
                              </tr>
                           </tbody>
                        </table>
