<table id="produit-tableau-figure5" class="tableau-produit" style="display: table;">
                           <caption>Structure des effectifs et évolution annuelle des salaires nets mensuels moyens des
                              salariés ayant travaillé toute l'année en 2009 et 20131

                           </caption>
                           <thead>
                              <tr>
                                 <th rowspan="2" scope="col"></th>
                                 <th rowspan="2" scope="col">Proportion des effectifs de 2009 présents en 2013 (%)</th>
                                 <th rowspan="2" scope="col">Évolution 2009-2013 en moyenne annuelle (% en euros constants)</th>
                              </tr>
                           </thead>
                           <tbody>
                              <tr>
                                 <th class="ligne total " scope="row">Titulaires</th>
                                 <td class="nombre total ">49,9</td>
                                 <td class="nombre total ">0,8</td>
                              </tr>
                              <tr>
                                 <th class="ligne ventilation " scope="row">dont :</th>
                                 <td class="nombre ventilation "></td>
                                 <td class="nombre ventilation "></td>
                              </tr>
                              <tr>
                                 <th class="ligne ventilation " scope="row"> Catégorie A</th>
                                 <td class="nombre ventilation ">51,9</td>
                                 <td class="nombre ventilation ">0,7</td>
                              </tr>
                              <tr>
                                 <th class="ligne ventilation " scope="row">           Catégorie B</th>
                                 <td class="nombre ventilation ">51,0</td>
                                 <td class="nombre ventilation ">1,1</td>
                              </tr>
                              <tr>
                                 <th class="ligne ventilation " scope="row">           Catégorie C</th>
                                 <td class="nombre ventilation ">40,9</td>
                                 <td class="nombre ventilation ">0,5</td>
                              </tr>
                              <tr>
                                 <th class="ligne total " scope="row">Autres salariés</th>
                                 <td class="nombre total ">33,1</td>
                                 <td class="nombre total ">1,1</td>
                              </tr>
                              <tr>
                                 <th class="ligne total " scope="row">Ensemble </th>
                                 <td class="nombre total ">45,8</td>
                                 <td class="nombre total ">0,8</td>
                              </tr>
                              <tr>
                                 <th class="ligne " scope="row">Ministères</th>
                                 <td class="nombre ">48,7</td>
                                 <td class="nombre ">0,7</td>
                              </tr>
                              <tr>
                                 <th class="ligne " scope="row">EPA<sup>2</sup>

                                 </th>
                                 <td class="nombre ">28,6</td>
                                 <td class="nombre ">1,8</td>
                              </tr>
                           </tbody>
                        </table>
