<table id="produit-tableau-Figure_2" class="tableau-produit" style="display: table;">
                           <caption>Évolution de la fréquentation française et étrangère dans les campings de Corse</caption>
                           <tbody>
                              <tr>
                                 <th class="ligne nombre " scope="row"></th>
                                 <th class="ligne nombre " scope="row">Nuitées françaises</th>
                                 <th class="ligne nombre " scope="row">Nuitées étrangères</th>
                              </tr>
                              <tr>
                                 <td class="nombre ">2010</td>
                                 <td class="nombre ">2 141 824</td>
                                 <td class="nombre ">1 773 816</td>
                              </tr>
                              <tr>
                                 <td class="nombre ">2011</td>
                                 <td class="nombre ">2 388 656</td>
                                 <td class="nombre ">1 352 724</td>
                              </tr>
                              <tr>
                                 <td class="nombre ">2012</td>
                                 <td class="nombre ">2 431 413</td>
                                 <td class="nombre ">1 368 348</td>
                              </tr>
                              <tr>
                                 <td class="nombre ">2013</td>
                                 <td class="nombre ">2 720 709</td>
                                 <td class="nombre ">1 618 330</td>
                              </tr>
                              <tr>
                                 <td class="nombre ">2014</td>
                                 <td class="nombre ">2 371 493</td>
                                 <td class="nombre ">1 574 223</td>
                              </tr>
                              <tr>
                                 <td class="nombre ">2015</td>
                                 <td class="nombre ">2 515 184</td>
                                 <td class="nombre ">1 551 212</td>
                              </tr>
                           </tbody>
                        </table>
