<table id="produit-tableau-Figure_1" class="tableau-produit">
                           <caption>Une réduction sensible du déficit naturel, en particulier en Haute-Vienne</caption>
                           <tbody>
                              <tr>
                                 <th scope="col"> </th>
                                 <th colspan="3" scope="col"> Corrèze</th>
                                 <th colspan="3" scope="col"> Creuse</th>
                                 <th colspan="3" scope="col"> Haute-Vienne</th>
                                 <th colspan="3" scope="col"> Limousin</th>
                              </tr>
                              <tr>
                                 <th scope="col"> &nbsp;</th>
                                 <th scope="col"> 2013</th>
                                 <th scope="col"> 2014</th>
                                 <th scope="col"> Variation 2013-2014</th>
                                 <th scope="col"> 2013</th>
                                 <th scope="col"> 2014</th>
                                 <th scope="col">Variation 2013-2014</th>
                                 <th scope="col"> 2013</th>
                                 <th scope="col"> 2014</th>
                                 <th scope="col">Variation 2014-2013</th>
                                 <th scope="col"> 2013</th>
                                 <th scope="col"> 2014</th>
                                 <th scope="col">Variation 2013-2014</th>
                              </tr>
                              <tr>
                                 <th scope="col"> Nombre de naissances</th>
                                 <td class="nombre "> 2 055</td>
                                 <td class="nombre "> 2 097</td>
                                 <td class="nombre "> 42</td>
                                 <td class="nombre "> 897</td>
                                 <td class="nombre "> 857</td>
                                 <td class="nombre "> – 40</td>
                                 <td class="nombre "> 3 723</td>
                                 <td class="nombre "> 3 721</td>
                                 <td class="nombre "> – 2</td>
                                 <td class="nombre "> 6 675</td>
                                 <td class="nombre "> 6 675</td>
                                 <td class="nombre "> 0</td>
                              </tr>
                              <tr>
                                 <th scope="col"> Nombre de décès</th>
                                 <td class="nombre "> 3 161</td>
                                 <td class="nombre "> 3 076</td>
                                 <td class="nombre "> - 85</td>
                                 <td class="nombre "> 1 881</td>
                                 <td class="nombre "> 1 804</td>
                                 <td class="nombre "> – 77</td>
                                 <td class="nombre "> 4 038</td>
                                 <td class="nombre "> 3 825</td>
                                 <td class="nombre "> – 213</td>
                                 <td class="nombre "> 9 080</td>
                                 <td class="nombre "> 8 705</td>
                                 <td class="nombre "> – 375</td>
                              </tr>
                              <tr>
                                 <th scope="col"> Solde naturel</th>
                                 <td class="nombre "> – 1 106</td>
                                 <td class="nombre "> –979</td>
                                 <td class="nombre "> 127</td>
                                 <td class="nombre "> – 984</td>
                                 <td class="nombre "> – 947</td>
                                 <td class="nombre "> 37</td>
                                 <td class="nombre "> – 315</td>
                                 <td class="nombre "> – 104</td>
                                 <td class="nombre "> 211</td>
                                 <td class="nombre "> – 2 405</td>
                                 <td class="nombre "> – 2 030</td>
                                 <td class="nombre "> 375</td>
                              </tr>
                           </tbody>
                        </table>
