<div class="bloc figure">
                           <div class="onglets-clear"></div><span class="ancre sans-onglet" id="figure3"></span><figure id="tableau-figure3" tabindex="0" class="panneau courant">
                              <h3 class="titre-figure"><span class="hidden">tableau </span>Figure 3 – Population - Emploi - Chômage
                              </h3>
                              <div class="unite"></div>
                              <div class="tableau">
                                 <table id="produit-tableau-figure3" class="tableau-produit">
                                    <caption>Population - Emploi - Chômage</caption>
                                    <thead>
                                       <tr>
                                          <th rowspan="2" scope="col"></th>
                                          <th rowspan="2" scope="col">Population au 01/01/2014p (milliers)</th>
                                          <th colspan="3" scope="col">Taux d'évolution annuel moyen de la population 2006-2011 (%)</th>
                                          <th colspan="2" scope="col">Emploi au 31/12/2013 au lieu de travail</th>
                                          <th scope="col">Variation annuelle moyenne de l'emploi (fin 2008 à fin 2013)</th>
                                          <th scope="col">Taux de chômage
                                             au 3<sup>e</sup> trim. 2014
                                          </th>
                                       </tr>
                                       <tr>
                                          <th scope="col">Total</th>
                                          <th scope="col">Dû au solde naturel</th>
                                          <th scope="col">Dû au solde apparent des entrées-sorties</th>
                                          <th scope="col">Total (milliers)</th>
                                          <th scope="col">dont : tertiaire<sup>1</sup> (%)
                                          </th>
                                          <th colspan="2" scope="col">(%)</th>
                                       </tr>
                                    </thead>
                                    <tbody>
                                       <tr>
                                          <th class="ligne " scope="row">Alsace</th>
                                          <td class="nombre ">1 868,8</td>
                                          <td class="nombre ">0,4</td>
                                          <td class="nombre ">0,5</td>
                                          <td class="nombre ">-0,1</td>
                                          <td class="nombre ">763,5</td>
                                          <td class="nombre ">74,5</td>
                                          <td class="nombre ">-0,2</td>
                                          <td class="nombre ">9,2</td>
                                       </tr>
                                       <tr>
                                          <th class="ligne " scope="row">Champagne-Ardenne</th>
                                          <td class="nombre ">1 338,1</td>
                                          <td class="nombre ">0,0</td>
                                          <td class="nombre ">0,3</td>
                                          <td class="nombre ">-0,3</td>
                                          <td class="nombre ">519,6</td>
                                          <td class="nombre ">72,0</td>
                                          <td class="nombre ">-0,7</td>
                                          <td class="nombre ">10,9</td>
                                       </tr>
                                       <tr>
                                          <th class="ligne " scope="row">Lorraine</th>
                                          <td class="nombre ">2 346,3</td>
                                          <td class="nombre ">0,1</td>
                                          <td class="nombre ">0,2</td>
                                          <td class="nombre ">-0,1</td>
                                          <td class="nombre ">824,8</td>
                                          <td class="nombre ">76,3</td>
                                          <td class="nombre ">-1,0</td>
                                          <td class="nombre ">10,6</td>
                                       </tr>
                                       <tr>
                                          <th class="ligne total " scope="row">Alsace Champagne-Ardenne Lorraine</th>
                                          <td class="nombre total ">5 553,2</td>
                                          <td class="nombre total ">0,2</td>
                                          <td class="nombre total ">0,3</td>
                                          <td class="nombre total ">-0,1</td>
                                          <td class="nombre total ">2 107,9</td>
                                          <td class="nombre total ">74,6</td>
                                          <td class="nombre total ">-0,6</td>
                                          <td class="nombre total ">10,2</td>
                                       </tr>
                                    </tbody>
                                 </table>
                              </div>
                              <figcaption>
                                 <ul class="notes">
                                    <li>1. Tertiaire marchand et tertiaire non marchand.</li>
                                    <li>Source : Insee, estimations de population, estimations d'emploi, taux de chômage localisés.</li>
                                 </ul>
                              </figcaption>
                           </figure>
                        </div>