<table border="1">
   <thead>
      <tr>
         <th rowspan="3" scope="col"></th>

         <th colspan="2" scope="col">a1</th>

         <th colspan="4" scope="col">a2</th>
      </tr>
      <tr>
         <th rowspan="2" scope="col">b1</th>
         <th rowspan="2" scope="col">b2</th>
         
         <th colspan="2" scope="col">b3</th>
         <th colspan="2" scope="col">b4</th>
      </tr>
      <tr>
         <th scope="col">c1</th>
         <th scope="col">c2</th>
         <th scope="col">c3</th>
         <th scope="col">c4</th>
      </tr>
   </thead>
   </tbody>
</table>
