<table id="produit-tableau-tableau1" class="tableau-produit" border="1">
                            <tr>
                               <th rowspan="2" colspan="2" scope="col">

                               </th>
                               <th colspan="4" scope="col">Commerce de bricolage  </th>
                               <th rowspan="2" scope="col">Commerce de détail non  alimentaire spécialisé  </th>
                            </tr>
                            <tr>
                                 <th scope="col">Sociétés pérennes  </th>
                                 <th scope="col">Sociétés entrantes  </th>
                                 <th scope="col">Sociétés sortantes  </th>
                                 <th scope="col">Total  </th>
                              </tr>
                              <tr>
                                 <th rowspan="2" colspan="2" scope="col">

                                 </th>
                                 <th colspan="4" scope="col">Commerce de bricolage  </th>
                                 <th rowspan="2" scope="col">Commerce de détail non  alimentaire spécialisé  </th>
                              </tr>
                              <tr>
                                 <th scope="col">Sociétés pérennes  </th>
                                 <th scope="col">Sociétés entrantes  </th>
                                 <th scope="col">Sociétés sortantes  </th>
                                 <th scope="col">Total  </th>
                              </tr>
                              <tr>
                                 <td class="texte " rowspan="3">Chiffre d’affaires (en millions d’euros)  </td>
                                 <td class="nombre ">1996  </td>
                                 <td class="nombre ">  6&nbsp;486  </td>
                                 <td class="nombre ">   ///  </td>
                                 <td class="nombre ">     2&nbsp;840  </td>
                                 <td class="nombre ">  9&nbsp;326  </td>
                                 <td class="nombre ">  98&nbsp;674  </td>
                              </tr>
                              <tr>
                                 <td class="nombre ">2006  </td>
                                 <td class="nombre ">11&nbsp;617  </td>
                                 <td class="nombre ">  5&nbsp;680  </td>
                                 <td class="nombre ">   ///  </td>
                                 <td class="nombre ">17&nbsp;297  </td>
                                 <td class="nombre ">162&nbsp;224  </td>
                              </tr>
                              <tr>
                                 <td class="nombre ">Variation 1996-2006  </td>
                                 <td class="nombre ">   5&nbsp;131  </td>
                                 <td class="nombre ">    5&nbsp;680  </td>
                                 <td class="nombre ">   −&nbsp;2&nbsp;840  </td>
                                 <td class="nombre ">   7&nbsp;971  </td>
                                 <td class="nombre ">   63&nbsp;550  </td>
                              </tr>
                              <tr>
                                 <td class="texte " rowspan="3">Effectif salarié  (en équivalent temps plein)  </td>
                                 <td class="nombre ">1996  </td>
                                 <td class="nombre ">40&nbsp;772  </td>
                                 <td class="nombre ">   ///  </td>
                                 <td class="nombre ">   18&nbsp;516  </td>
                                 <td class="nombre ">59&nbsp;288  </td>
                                 <td class="nombre ">609&nbsp;382  </td>
                              </tr>
                              <tr>
                                 <td class="nombre ">2006  </td>
                                 <td class="nombre ">61&nbsp;271  </td>
                                 <td class="nombre ">27&nbsp;752  </td>
                                 <td class="nombre ">   ///  </td>
                                 <td class="nombre ">89&nbsp;023  </td>
                                 <td class="nombre ">820&nbsp;215  </td>
                              </tr>
                              <tr>
                                 <td class="nombre ">Variation 1996-2006  </td>
                                 <td class="nombre "> 20&nbsp;499  </td>
                                 <td class="nombre "> 27&nbsp;752  </td>
                                 <td class="nombre "> −&nbsp;18&nbsp;516  </td>
                                 <td class="nombre "> 29&nbsp;735  </td>
                                 <td class="nombre "> 210&nbsp;833  </td>
                              </tr>
                           </tbody>
                        </table>
