<table id="produit-tableau-Figure0201-1" class="tableau-produit">
                        <caption>Créations d'entreprises</caption>
                        <thead>
                           <tr>
                              <th rowspan="2" colspan="1" scope="col"></th>
                              <th rowspan="1" colspan="3" scope="col">Nombre de créations</th>
                              <th rowspan="1" colspan="2" scope="col">Variation (en %)</th>
                           </tr>
                           <tr>
                              <th scope="col">2<sup>e</sup> trim. 2016
                              </th>
                              <th scope="col">1<sup>er</sup> trim. 2017
                              </th>
                              <th scope="col">2<sup>e</sup> trim. 2017
                              </th>
                              <th scope="col">trimestrielle</th>
                              <th scope="col">annuelle</th>
                           </tr>
                        </thead>
                        <tbody>
                           <tr>
                              <th class="ligne " colspan="6" scope="row">Bourgogne-Franche-Comté</th>
                           </tr>
                           <tr>
                              <th class="ligne " scope="row">hors micro-entrepreneurs</th>
                              <td class="nombre ">2 323</td>
                              <td class="nombre ">2 288</td>
                              <td class="nombre total ">2 358</td>
                              <td class="nombre ">3,1</td>
                              <td class="nombre ">1,5</td>
                           </tr>
                           <tr>
                              <th class="ligne " scope="row">y compris micro-entrepreneurs</th>
                              <td class="nombre ">3 992</td>
                              <td class="nombre ">4 017</td>
                              <td class="nombre total ">3 867</td>
                              <td class="nombre ">-3,7</td>
                              <td class="nombre ">-3,1</td>
                           </tr>
                           <tr>
                              <th class="ligne " colspan="6" scope="row">France métropolitaine</th>
                           </tr>
                           <tr>
                              <th class="ligne " scope="row">hors micro-entrepreneurs</th>
                              <td class="nombre ">79 971</td>
                              <td class="nombre ">81 960</td>
                              <td class="nombre total ">82 343</td>
                              <td class="nombre ">0,5</td>
                              <td class="nombre ">3,0</td>
                           </tr>
                           <tr>
                              <th class="ligne " scope="row">y compris micro-entrepreneurs</th>
                              <td class="nombre ">137 013</td>
                              <td class="nombre ">139 819</td>
                              <td class="nombre total ">137 709</td>
                              <td class="nombre ">-1,5</td>
                              <td class="nombre ">0,5</td>
                           </tr>
                        </tbody>
                     </table>
