<table border="1">
  <tr>
     <td>username</td>
     <td>query</td>
     <td>ttl</td>
     <td>evaluation</td>
     <td>time</td>
     <td>comment</td>
  </tr>
{% for evaluation in items %}
  <tr>
     <td>{{evaluation.username}}</td>
     <td>{{evaluation.query}}</td>
     <td>{{evaluation.ttl}}</td>
     <td>{{evaluation.evaluation}}</td>
     <td>{{evaluation.time}}</td>
     <td>{{evaluation.comment}}</td>
  </tr>
{% endfor %}
</table>
