<!DOCTYPE html>
<html>

<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.14/jquery-ui.min.js"></script> -->
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/ui-lightness/jquery-ui.css">
  <script>
    function getSearchParams(k){
         var p={};
         location.search.replace(/[?&]+([^=&]+)=([^&]*)/gi,function(s,k,v){p[k]=v})
         return k?p[k]:p;
    }

    function ajaxSearch(query) {
        $.ajax({
          method: 'get',
          url: '/result_table/' + query,
          // url: '/result_table/' + $('#query').val(),
          success: function(data) {
            console.log(data);
            // $('#result').append('<br>' + $('<div/>').text(data.data).html());

            table = data.table
            table_rows = ''
            for (var i = 0; i < table.length; i++) {
              table_rows += table[i];
            }

            $('#result').html('<table border="1">' + data.table_header + table_rows + '</table>')

            now = new Date().getTime()

            data_cell_inputs = data.data_cell_inputs
            for (var i = 0; i < data_cell_inputs.length; i++) {
              data_cell_input = data_cell_inputs[i];

              ttl_file = encodeURIComponent(data_cell_input.ttl_file)
              list_location_score_dict = encodeURIComponent(JSON.stringify(data_cell_input.list_location_score_dict));
              row_id = i + 1

              $.getJSON("/data_cell?ttl_file=" + ttl_file +
                "&list_location_score_dict=" + list_location_score_dict +
                "&row_id=" + row_id,
                function(data) {
                  $('#data_cell_' + data.row_id).html(data.first_result);
                  $('#button_more_' + data.row_id).click(function (){
                    $("#dialog").html(data.cells);
                    $("#dialog").dialog("open");
                  });
                });
            }

            $(document).ajaxStop(function() {
              console.log("All ajax requests finished " + (new Date().getTime() - now));
            });
          }
        });
      }

    $(document).ready(function() {
        $("#dialog").dialog({
          autoOpen: false,
          height: 1600,
          width: 600,
          overflow: scroll
        });

      $(document).on('change', 'input:radio', function() {
        radio_button_name = $(this).prop('name')
        evaluation_value = $("input[name='" + radio_button_name + "']:checked").val()
        if (evaluation_value == '2') {
          $(this).parent().parent().parent().css( "background-color", "#99cc99" );
        } else if (evaluation_value == '1') {
          $(this).parent().parent().parent().css( "background-color", "#ffffe5" );
        } else if (evaluation_value == '0') {
          $(this).parent().parent().parent().css( "background-color", "#ff9999" );
        }
        item_id = radio_button_name.replace('_evaluation_', '')
        $.ajax({
          url: '/save',
          data: $('[name=_form_' + item_id + ']').serialize(),
          type: 'POST'
        });
      });

      $(document).on('input', 'input:text', function() {
        text_input_name = $(this).prop('name')
        if (text_input_name.includes('_comment_')) {
          item_id = text_input_name.replace('_comment_', '')
          $.ajax({
            url: '/save',
            data: $('[name=_form_' + item_id + ']').serialize(),
            type: 'POST'
          });
        }
      });

      $("#button_search").click(function() {
          $('#result').html('Chargement...');
          ajaxSearch($('#query').val());
      });

      query = getSearchParams("query");
      if (query != null) {
          $('input:text').val(decodeURIComponent(query).split('+').join(' '));
          $('#result').html('Chargement...');
          ajaxSearch(query);
      }
    });
  </script>
</head>

<body>
  <a href="{{ url_for('logout') }}">{{"Déconnectez-vous: " + current_user.username}}</a>
  <br/>

  <input id="button_search" type="submit" value="Recherche" style="font-size:1.5em; color:white; background-color:black">
  <input id="query" type="text" name="query" size="75" style="font-size: 20pt">
  <br />
  <br />

  <div id="result" />
  <div id="dialog" style="display: none;" />
</body>

</html>
