{% with messages = get_flashed_messages() %}
{% if messages %}
  <div class="alert">
      <ul class="flashes">
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
      </ul>
  </div>
{% endif %}
{% endwith %}

{% block body %}
  <form action="" method=post class="form-horizontal">
    <h2>Connectez-vous à Insee-search </h2>
    <div class="control-group">
        <div class="controls">
          <input type="text" id="username" name="username" class="input-xlarge"
            placeholder="Utilisateur" required>
        </div>
    </div>

    <div class="control-group">
        <div class="controls">
          <input type="password" id="password" name="password" class="input-xlarge"
            placeholder="Mot de passe" required>
        </div>
    </div>

     <div class="control-group">
        <div class="controls">
          <input type="checkbox" id="remember_me" name="remember_me">Mémoriser mon compte</input>
        </div>
    </div>

    <div class="control-group">
        <div class="controls">
          <button type="submit" class="btn btn-success">Se connecter</button>
        </div>
    </div>
  </form>

  <br/>
  <a href="{{ url_for('register') }}">Enregistrer un compte</a>
{% endblock %}
