<html>
<body>
    {% for tweet in tweets %}
        {{tweet.data.published_date}}
        <br/>
        {{tweet.data.name}}
        <br/>
        <a href="{{tweet.data.link}}" target="_blank" >
            {{tweet.data.link}}
        </a>
        <br/>
        {{tweet.data.tweet}}
        <br/>
        <b>{{tweet.data.html|safe}}</b>
        <br/>
        {{tweet.progress}}
        <br/>
        <form action="/" method="get" target="_blank">
            <input type="text" value="{{tweet.data.query}}" name="query" size="75">
            <input type="submit" value="Recherche">
        </form>
        <br/>
    {% endfor %}
</body>
</html>
