{% with messages = get_flashed_messages() %}
{% if messages %}
  <div class="alert">
      <ul class="flashes">
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
      </ul>
  </div>
{% endif %}
{% endwith %}

{% block body %}
  <form action="" method=post class="form-horizontal">
    <h2>Inscrivez-vous pour Insee-search</h2>
    <div class="control-group">
        <div class="controls">
          <input type="text" id="username" name="username" class="input-xlarge"
            placeholder="Utilisateur" value="{{ request.form.username }}"
            required>
        </div>
    </div>

    <div class="control-group">
        <div class="controls">
          <input type="password" id="password" name="password" class="input-xlarge"
            placeholder="Mot de passe" value="{{ request.form.password }}"
            required>
        </div>
    </div>

    <div class="control-group">
        <div class="controls">
          <input type="email" id="email" name="email" class="input-xlarge"
            placeholder="Émail" value="{{ request.form.username }}"
            required>
        </div>
    </div>

    <div class="control-group">
        <div class="controls">
          <button type="submit" class="btn btn-success">Inscrivez-vous</button>
        </div>
    </div>
  </form>
{% endblock %}
