<div class="bloc figure">
                  <div class="onglets-clear"></div><span class="ancre sans-onglet" id="tableau1"></span><figure id="tableau-tableau1" tabindex="0" class="panneau courant">
                     <h3 class="titre-figure"><span class="hidden">tableau </span>Tableau 1 –  Taux d’accès annuel à la formation    
                     </h3>
                     <div class="unite">en %    </div>
                     <div class="tableau">
                        <table id="produit-tableau-tableau1" class="tableau-produit">
                           <caption> Taux d’accès annuel à la formation    </caption>
                           <tbody>
                              <tr>
                                 <th scope="col">
                                    										
                                 </th>
                                 <th scope="col">Toute formation  </th>
                                 <th scope="col">Formation diplômante  </th>
                                 <th scope="col">Formation non diplômante  </th>
                                 <th scope="col">
                                    											             <em>dont formation pour raisons professionnelles  </em>
                                    										           
                                 </th>
                              </tr>
                              <tr>
                                 <td class="texte emphase-normale " colspan="5">
                                    											             Âge  
                                    										           
                                 </td>
                              </tr>
                              <tr>
                                 <td class="texte ">18-24  </td>
                                 <td class="nombre ">80  </td>
                                 <td class="nombre ">58  </td>
                                 <td class="nombre ">56  </td>
                                 <td class="nombre ">
                                    											             <em>33  </em>
                                    										           
                                 </td>
                              </tr>
                              <tr>
                                 <td class="texte ">25-34  </td>
                                 <td class="nombre ">61  </td>
                                 <td class="nombre ">  9  </td>
                                 <td class="nombre ">58  </td>
                                 <td class="nombre ">
                                    											             <em>49  </em>
                                    										           
                                 </td>
                              </tr>
                              <tr>
                                 <td class="texte ">35-44  </td>
                                 <td class="nombre ">58  </td>
                                 <td class="nombre ">  3  </td>
                                 <td class="nombre ">57  </td>
                                 <td class="nombre ">
                                    											             <em>48  </em>
                                    										           
                                 </td>
                              </tr>
                              <tr>
                                 <td class="texte ">45-54  </td>
                                 <td class="nombre ">50  </td>
                                 <td class="nombre ">  2  </td>
                                 <td class="nombre ">50  </td>
                                 <td class="nombre ">
                                    											             <em>43  </em>
                                    										           
                                 </td>
                              </tr>
                              <tr>
                                 <td class="texte ">55-64  </td>
                                 <td class="nombre ">33  </td>
                                 <td class="nombre ">  1  </td>
                                 <td class="nombre ">33  </td>
                                 <td class="nombre ">
                                    											             <em>20  </em>
                                    										           
                                 </td>
                              </tr>
                              <tr>
                                 <td class="texte emphase-normale " colspan="5">
                                    											             Sexe  
                                    										           
                                 </td>
                              </tr>
                              <tr>
                                 <td class="texte ">Homme  </td>
                                 <td class="nombre ">54  </td>
                                 <td class="nombre ">11  </td>
                                 <td class="nombre ">50  </td>
                                 <td class="nombre ">
                                    											             <em>42  </em>
                                    										           
                                 </td>
                              </tr>
                              <tr>
                                 <td class="texte ">Femme  </td>
                                 <td class="nombre ">55  </td>
                                 <td class="nombre ">12  </td>
                                 <td class="nombre ">50  </td>
                                 <td class="nombre ">
                                    											             <em>36  </em>
                                    										           
                                 </td>
                              </tr>
                              <tr>
                                 <td class="texte emphase-normale " colspan="5">
                                    											             Situation sur le marché du travail à la date de l’enquête  
                                    										           
                                 </td>
                              </tr>
                              <tr>
                                 <td class="texte ">Emploi  </td>
                                 <td class="nombre ">59  </td>
                                 <td class="nombre ">  6  </td>
                                 <td class="nombre ">57  </td>
                                 <td class="nombre ">
                                    											             <em>49  </em>
                                    										           
                                 </td>
                              </tr>
                              <tr>
                                 <td class="texte ">Chômage  </td>
                                 <td class="nombre ">42  </td>
                                 <td class="nombre ">  9  </td>
                                 <td class="nombre ">38  </td>
                                 <td class="nombre ">
                                    											             <em>27  </em>
                                    										           
                                 </td>
                              </tr>
                              <tr>
                                 <td class="texte ">Inactivité  </td>
                                 <td class="nombre ">44  </td>
                                 <td class="nombre ">30  </td>
                                 <td class="nombre ">32  </td>
                                 <td class="nombre ">
                                    											             <em>11  </em>
                                    										           
                                 </td>
                              </tr>
                              <tr>
                                 <td class="texte emphase-normale ">
                                    											             Ensemble 18-64 ans  
                                    										           
                                 </td>
                                 <td class="nombre emphase-normale ">
                                    											             55  
                                    										           
                                 </td>
                                 <td class="nombre emphase-normale ">
                                    											             11  
                                    										           
                                 </td>
                                 <td class="nombre emphase-normale ">
                                    											             50  
                                    										           
                                 </td>
                                 <td class="nombre emphase-normale ">
                                    											             
                                    												               <em>39  </em>
                                    											             
                                    										           
                                 </td>
                              </tr>
                           </tbody>
                        </table>
                     </div>
                     <figcaption>
                        <ul class="notes">
                           <li>Lecture : 58 % des personnes âgées de 18 à 24 ans ont participé à au moins une formation
                              diplômante au cours des douze mois ayant précédé l’enquête.    
                           </li>
                           <li>Champ : France métropolitaine, personnes âgées de 18 à 64 ans.    </li>
                           <li>Source : Insee, enquête sur la formation des adultes 2012.    </li>
                        </ul>
                     </figcaption>
                  </figure>
               </div>