<div class="bloc figure">
                  <div class="onglets-clear"></div><span class="ancre sans-onglet" id="Figure_5"></span><figure id="tableau-Figure_5" tabindex="0" class="panneau courant">
                     <h3 class="titre-figure"><span class="hidden">tableau </span>Figure 5 – En cumul sur douze mois, le nombre de créations d'entreprises augmente légèrement
                        <span class="sous-titre div-in-h">Créations d'entreprises par secteur d'activité en Martinique (en nombre et en %) </span></h3>
                     <div class="unite">

                     </div>
                     <div class="tableau">
                        <table id="produit-tableau-Figure_5" class="tableau-produit">
                           <caption>En cumul sur douze mois, le nombre de créations d'entreprises augmente légèrement

                           </caption>
                           <thead>
                              <tr>
                                 <th rowspan="3" scope="col">

                                 </th>
                                 <th colspan="7" scope="col">Martinique</th>
                                 <th scope="col">France entière</th>
                              </tr>
                              <tr>
                                 <th colspan="2" scope="col">2015</th>
                                 <th colspan="3" scope="col">2016</th>
                                 <th rowspan="2" scope="col">Variation trimestrielle (en %)</th>
                                 <th rowspan="2" scope="col">Variation du cumul sur 12 mois (en %)</th>
                                 <th rowspan="2" scope="col">Variation du cumul sur 12 mois (en %)</th>
                              </tr>
                              <tr>
                                 <th scope="col">T3</th>
                                 <th scope="col">T4</th>
                                 <th scope="col">T1</th>
                                 <th scope="col">T2</th>
                                 <th scope="col">T3</th>
                              </tr>
                           </thead>
                           <tbody>
                              <tr>
                                 <th class="ligne " scope="row">Industrie</th>
                                 <td class="nombre ">44</td>
                                 <td class="nombre ">52</td>
                                 <td class="nombre ">45</td>
                                 <td class="nombre ">38</td>
                                 <td class="nombre ">46</td>
                                 <td class="nombre ">21,1</td>
                                 <td class="nombre ">0,6</td>
                                 <td class="nombre ">-3,0</td>
                              </tr>
                              <tr>
                                 <th class="ligne " scope="row">Construction</th>
                                 <td class="nombre ">86</td>
                                 <td class="nombre ">89</td>
                                 <td class="nombre ">133</td>
                                 <td class="nombre ">63</td>
                                 <td class="nombre ">83</td>
                                 <td class="nombre ">31,7</td>
                                 <td class="nombre ">6,7</td>
                                 <td class="nombre ">-6,1</td>
                              </tr>
                              <tr>
                                 <th class="ligne " scope="row">Commerce, transports, hébergements et restauration</th>
                                 <td class="nombre ">215</td>
                                 <td class="nombre ">252</td>
                                 <td class="nombre ">267</td>
                                 <td class="nombre ">282</td>
                                 <td class="nombre ">230</td>
                                 <td class="nombre ">-18,4</td>
                                 <td class="nombre ">2,9</td>
                                 <td class="nombre ">8,0</td>
                              </tr>
                              <tr>
                                 <th class="ligne " scope="row">Autres services</th>
                                 <td class="nombre ">354</td>
                                 <td class="nombre ">400</td>
                                 <td class="nombre ">462</td>
                                 <td class="nombre ">375</td>
                                 <td class="nombre ">367</td>
                                 <td class="nombre ">-2,1</td>
                                 <td class="nombre ">0,2</td>
                                 <td class="nombre ">4,7</td>
                              </tr>
                              <tr>
                                 <th class="ligne total " scope="row">Ensemble</th>
                                 <td class="nombre total ">699</td>
                                 <td class="nombre total ">793</td>
                                 <td class="nombre total ">907</td>
                                 <td class="nombre total ">758</td>
                                 <td class="nombre total ">726</td>
                                 <td class="nombre total ">-4,2</td>
                                 <td class="nombre ">1,8</td>
                                 <td class="nombre ">3,9</td>
                              </tr>
                           </tbody>
                        </table>
                     </div>
                     <figcaption>
                        <ul class="notes">
                           <li>

                           </li>
                           <li>Champ : secteur marchand non agricole.

                           </li>
                           <li>source : Insee, Sirene</li>
                        </ul>
                     </figcaption>
                  </figure>
               </div>
